/* div.active {
	background: #567bcc;
	color: white;
} */

.active {
	background: #56CC9D;
	color: white;
}


[data-conteudo] {
	opacity: 0;
	visibility: hidden;
	position: absolute;
	top: 0px;
	transform: translate3d(-50px,0px,0px);
	padding-top: 20px;
} 

[data-conteudo].active {
	opacity: 1;
	visibility: visible;
	position:relative;
	top: auto;
	transition: .3s;
	transform: translate3d(0px,0px,0px);
}

[data-item].active {
	opacity: 1;
	transition: .3s;
	transform: translate3d(0px,0px,0px);
}

.botao_ativar{
	position: relative;
	padding: 20px;
	margin: 20px;
	width: 200px;
	height: 20px;
	display: flex;
	align-items: center;
	transform: translateX(-20px,0px,0px);
	font-size: 16px;
	font-family: 'Playfair Display';
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 2px;
	
	background: #56CC9D;
	border-radius: 4px;
	border:#439e7a 3px solid;

	justify-content:center;

}




.acima {
	display:flex;
	justify-content: center;
}


.animar_scale {
	margin: 30px 0px 0px 0px;
	animation-fill-mode: forwards;
	animation: qq 1.5s ease 0s infinite
}

@keyframes qq {
	0%{
		transform:scale(1);
		transform:translateY(-50px);
		opacity: 1;
	}
	50%{
		transform:scale(1.1);
		transform:translateY(0px);
		opacity: 1;
	}
	100%{
		transform:scale(1);
		transform:translateY(-50px);
		opacity: 1;
	}
	
}

.texto {
	position: relative;
	top: 7px;
	color: #439e7a;

}















html{
	box-sizing: border-box;
}

